
*.a
*.app
!bin/*.exe
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
*.d
# Debugger Files
# debug information files
*.dll
*.dwo
*.dylib
*.exe
# Executables
# Fortran module files
*.gch
*.ilk
*.la
*.lai
*.lib
# Linker files
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.pdb
# Precompiled Headers
# Prerequisites
__pycache__/
*.slo
*.smod
*.so
